
@using WorkFlowLib
@model SecretaryRule
@{
    Guid index = Guid.NewGuid();
    bool? editable = ViewData["Editable"] as bool?;
}

<tr class="tr_secretary">
    <td style="padding-right: 10px; text-align: right">
        @Html.Hidden("secretaryRules.index", index)
    </td>
    <td style="padding-right: 10px;">
        <span>Approver </span>
        @(editable == true
                              ? Html.TextBox("secretaryRules[" + index + "].UserName", Model?.UserName, new { @class = "form-control", style = "display:inline; width:auto" })
                              : Html.TextBox("secretaryRules[" + index + "].UserName", Model?.UserName, new { @class = "form-control", style = "display:inline; width:auto", disabled = "disabled" }))
        @Html.Hidden("secretaryRules[" + index + "].UserId", Model?.UserId)
    </td>
    <td style="padding-right: 10px;">
        <span>Secretary </span>
        @(editable == true
                              ? Html.TextBox("secretaryRules[" + index + "].SecretaryName", Model?.SecretaryName, new { @class = "form-control", style = "display:inline; width:auto" })
                              : Html.TextBox("secretaryRules[" + index + "].SecretaryName", Model?.SecretaryName, new { @class = "form-control", style = "display:inline; width:auto", disabled = "disabled" }))
        @Html.Hidden("secretaryRules[" + index + "].SecretaryId", Model?.SecretaryId)
    </td>
    <td style="padding-right: 10px;">
        @if (editable == true)
        {
            <button class="btn btn-sm btn-danger delete_secretray">Remove</button>
        }
        <script type="text/javascript">
            $('[name="@($"secretaryRules[{index}].UserName")"], [name="@($"secretaryRules[{index}].SecretaryName")"]')
                .autocomplete({
                    source: '@Url.Action("GetUserByName")',
                    select: function(event, ui) {
                        event.preventDefault();
                        $(event.target).val(ui.item.label);
                        $(event.target).siblings(":hidden").val(ui.item.value);
                    }
                });
        </script>
    </td>
</tr>

