@using WorkFlowLib.Data
@using WorkFlow.Ext
@using Resources
@{
    WF_FlowTypes flowtype = ViewBag.FlowType as WF_FlowTypes;
}
<h2 class="text-center"> @(flowtype?.Name.ToLocal())</h2>
@if (ViewBag.History != null)
{
    <div style="background-color: white; padding: 10px;">
        <table class="table table-bordered theader">
            <thead>
                <tr>
                    <th>@StringResource.Version</th>
                    <th>Last updated</th>
                    <th>@StringResource.STATUS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (WF_FlowGroups @group in ViewBag.History as WF_FlowGroups[])
                {
                    <tr>
                        <td>@group.Version</td>
                        <td>@group.LastUpdated.ToLocalTime()</td>
                        <td>
                            @if (@group.StatusId > 0)
                            {
                                <text>Working</text>
                            }
                            else if (@group.StatusId == -1)
                            {
                                <text>Editing</text>
                            }
                            else
                            {
                                <text>Hisotry</text>
                            }
                        </td>
                        <td style="width: 100px;">
                            @Ajax.ModalActionLink("View", "ViewGroupDetails", new { flowGroupId = @group.FlowGroupId }, new ModalAjaxOptions
                            {
                                HttpMethod = "get",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "div_progress",
                                Class = "btn btn-primary btn-sm",
                                ModalTargetId = "div_cannot_eidt",
                                UpdateTargetId = "div_content"
                            })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-center">
            <a data-ajax="true" class="btn btn-default btn-lg" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#div_content" data-ajax-loading="#div_progress" href="@Url.Action("Index")" style="margin-bottom: 8px;">
                Back to list
            </a>
        </div>
    </div>
}