@using WorkFlow.Ext
@using Resources
@{
    ViewBag.Title = "User Info";
    Layout = null;
    ViewBag.DisplayButtons = false;
    ViewBag.DisplaySelfButtons = true;
}

@using (Ajax.BeginModalForm("ChangePassword", "Home", new ModalAjaxOptions
{
    HttpMethod = "post",
    ModalTargetId = "div_main_modal",
    LoadingElementId = "div_progress"
}, new { id = "password_form" }))
{
    <div class="form-horizontal" style="padding-left: 120px;">
        <div class="form-group">
            <label class="col-md-3 control-label">User ID:</label>
            <div class="col-md-4">
                @Html.TextBox("UserId", User.Identity.Name, new { @class = "form-control", @readonly = true, data_val = "true", data_val_required = "*" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">User Name:</label>
            <div class="col-md-4">
                @Html.TextBox("UserName", WebCacheHelper.GetUsernameByNo(User.Identity.Name), new { @class = "form-control", @readonly = true, data_val = "true", data_val_required = "*", disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Password:<span style="color: red">*</span></label>
            <div class="col-md-4">
                @Html.Password("Password", null, new { @class = "form-control", data_val = "true", data_val_required = "*" })
            </div>
            <div id="div_hint"></div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">New Password:<span style="color: red">*</span></label>
            <div class="col-md-4">
                @Html.Password("NewPassword", null, new { @class = "form-control", data_val = "true", data_val_required = "*" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Password <br /> Confirm:<span style="color: red">*</span></label>
            <div class="col-md-4">
                @Html.Password("ConfirmPassword", null, new { @class = "form-control", data_val = "true", data_val_required = "*" })
            </div>
        </div>
        <div class="form-group" style="text-align: left; padding-left: 30px; color: red" id="div_error"></div>
        <div class="form-group" style="text-align: left;padding-left:30px;">
            <span>Reminder of Password changing</span><br />
            <span>1.Password must be over 6digt</span><br />
            <span>2.Password must contain character and number</span><br />
            <span>3.expiration date of new password is 90 days</span><br />
            <span>later after created it</span>
        </div>
    </div>
}
@section buttons{
    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#div_modal_cont').remove();">@StringResource.CANCEL</button>
    <button id="btn_submit" type="button" class="btn btn-primary">@StringResource.CHANGE_PASSWORD</button>
}

<script type="text/javascript">
    $("#password_form").addUnobtrusiveValidation();
    $("#btn_submit").click(function () {
        var newPassword = $('#NewPassword').val();
        var confirmPassword = $('#ConfirmPassword').val();
        if (newPassword != confirmPassword) {
            $('#div_error').text("@StringResource.PASSWORD_INCONSISTENT");
            return;
        }
        if (newPassword.length < 6) {
            $('#div_error').text("@StringResource.PASSWORD_GEEATER_6");
            return;
        }
        $("#password_form").submit();
    });
</script>
