@using Resources
@using WorkFlow.Ext
@model string
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
<style type="text/css">
    #menu-toggle-btn {
        display: none;
    }

    .content-section {
        left: 0;
    }
</style>
    
<div style="width: 500px; margin: 0 auto; margin-top: 40px; text-align: center; background: white">
    <div>
        <p style="font-size: 42px; color: crimson;">
            @StringResource.CHANGE_PASSWORD
        </p>
    </div>
    <div style="color: red; text-align: left; font-size: 20px;padding-left: 30px;">
        @StringResource.PASSWORD_EXPIRED
    </div>
    @using (Html.BeginForm("ChangePassword","Account",FormMethod.Post,new {id= "password_form" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "text-align:left;padding-top:10px" })
        @Html.AntiForgeryToken()
    <div class="form-horizontal" style="padding-left: 10px; padding-top: 20px">
        <div class="form-group">
            <label class="col-md-3 control-label">User ID:</label>
            <div class="col-md-7">
                @Html.TextBox("UserId", Model, new { @class = "form-control", @readonly = true, data_val = "true", data_val_required = "*" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">User Name:</label>
            <div class="col-md-7">
                @Html.TextBox("UserName", WebCacheHelper.GetUsernameByNo(Model), new { @class = "form-control", @readonly = true, data_val = "true", data_val_required = "*", disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Password:<span style="color: red">*</span></label>
            <div class="col-md-7">
                @Html.Password("Password", null, new { @class = "form-control", data_val = "true", data_val_required = "*" })
            </div>
            <div id="div_hint"></div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">New Password:<span style="color: red">*</span></label>
            <div class="col-md-7">
                @Html.Password("NewPassword", null, new { @class = "form-control", data_val = "true", data_val_required = "*" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Password <br /> Confirm:<span style="color: red">*</span></label>
            <div class="col-md-7">
                @Html.Password("ConfirmPassword", null, new { @class = "form-control", data_val = "true", data_val_required = "*" })
            </div>
        </div>
        <div class="form-group" style="text-align: left; padding-left: 30px; color: red" id="div_error"></div>
        <div>
            <input id="btn_submit" type="submit" value="@(Resources.StringResource.CONFIRM)" class="btn btn-primary" onclick="return ondosubmit();" />
        </div>
        <div class="form-group" style="text-align: left; padding-left: 30px;">
            <span>Reminder of Password changing</span><br />
            <span>1.Password must be over 6digt</span><br />
            <span>2.Password must contain character and number</span><br />
            <span>3.expiration date of new password is 90 days</span><br />
            <span>later after created it</span>
        </div>
    </div>
}
</div>
<script type="text/javascript">
    $("#password_form").addUnobtrusiveValidation();
   </script>
